<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Stores</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <!-- Favicons -->
    <link href="{{ url_for('static',filename='assets/img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static',filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
</head>

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="{{url_for('home')}}">Home</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <style>
        .h {
            color: #555;
            font-family: 'Arvo';
            font-size: 18px;
            height: 30px;
            margin: 0 100px 100px 0;
            width: 300px;
            left: 50%;
        }
    </style>

    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form2">
                        <h2 class="form-title">The stores of {{ user }}</h2>
                        {% if count == 0 %}
                        <div class="section-title text-center">
                            <h3>Oh no !</h3>
                            <h4>you have not created a store. do you wanna try once ? </h4><br>
                            <h4><a href="{{url_for('makestore')}}">click here</a></h4>
                        </div>
                        {% else %} {% for s in store %}
                        <ul>
                            <div class="row">
                                <div class="col-md-6 col-md-4 col-lg-3" data-aos="" data-aos-delay="100">
                                    <div class="team-block bottom">
                                        <a href="{{ url_for('productpage', storename=s.name)}}">
                                            <figure><img src="{{ url_for('static',filename='assets/img/team/shop-icon.png') }}" alt="image"></figure>
                                        </a>
                                        <li><a class="nav-link scrollto " href="{{url_for('delete', target=s.name)}}"><i class="bi bi-trash"></i></a></li>
                                        <div class="team-content">
                                            <span>name : {{ s.name }}</span>
                                            <h4>city : {{ s.city }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        {% endfor %} {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>